.todo-item {
  padding: 1rem;
  display: flex;
  border-bottom: 1px solid var(--border-color);
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: var(--text-weigth);
  color: var(--text-color);
}

.input-checkbox[type="checkbox"] {
  display: none;
}

.checkbox-label {
  position: relative;
  margin-left: 3rem;
}

.checkbox-label::before {
  content: ".";
  background-image: url("./icon-check.svg");
  background-position: center;
  background-size: contain;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: -3rem;
  transform: scale(0) rotateZ(180deg);
  transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

.checked {
  text-decoration: line-through;
}

.default-checkbox {
  visibility: hidden;
}

.aver {
  background-color: var(--check);
  border-radius: 50%;
  background-image: url("./icon-check.svg");
  background-position: center;
  background-size: contain;
  width: 2rem;
  height: 2rem;
  left: -3rem;
  position: absolute;
}

.checkbox-label::after {
  content: "";
  border: 0.2rem solid var(--border-color);
  width: 2rem;
  height: 2rem;
  position: absolute;
  border-radius: 50%;
  left: -3.2rem;
  top: -0.2rem;
}

.button-delete {
  border: none;
  background-color: transparent;
}
