.section{
    list-style: none;
    border-radius: 0.5rem;
    background-color: var(--todo-color);
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.todo-container{
    overflow: scroll;
    scroll-behavior: smooth;
}