.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.create-todo{
    width: 6rem;
    position: sticky;
    background-color: var(--button-color);
    border: none;
    margin-top: 3rem;
    /* margin-right: -1rem; */
    padding: 2rem;
    border-radius: 100%;
}