.button-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.create-todo{
    width: 6rem;
    position: absolute;
    background-color: var(--button-color);
    border: none;
    top: 53rem;
    right: 1rem;
    padding: 2rem;
    border-radius: 100%;
}