.section{
    list-style: none;
    border-radius: 0.5rem;
    background-color: var(--todo-color);
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}