.section{
    list-style: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--todo-color);
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}